<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/edit}" method="post">
    <!-- Form Name -->
    <legend>Edit profile</legend>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="username">Username</label>
        <div class="col-md-4">
            <input id="username" name="username" type="text" placeholder="Enter username"
                   pattern="[a-zA-Z0-9а-яА-ЯёЁ]{3,}"
                   title="Username must contain minimum 3 characters" class="form-control input-md"/>
            <p class="bg-danger"></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">First name</label>
        <div class="col-md-4">
            <input id="firstName" name="firstName" type="text" placeholder="Enter first name"
                   pattern="[a-zA-Z0-9а-яА-ЯёЁ]{1,}"
                   title="First name must contain minimum 1 letter " class="form-control input-md"/>
            <p class="bg-danger"></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">Last name</label>
        <div class="col-md-4">
            <input id="lastName" name="lastName" type="text" placeholder="Enter last name"
                   pattern="[a-zA-Z0-9а-яА-ЯёЁ]{1,}"
                   title="Last name must contain minimum 1 letter " class="form-control input-md"/>
            <p class="bg-danger"></p>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="register"></label>
        <div class="col-md-4">
            <button id="register" name="register" class="btn btn-primary">Edit</button>
        </div>
    </div>
</form>
</body>
</html>